<ul class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">File</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">New Dictionary</a>
      <a class="dropdown-item" href="#">Load Dictionary</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">About</a>
    </div>
  </li>
</ul>
